@page "/PeliculaDetalle"
@page "/PeliculaDetalle/{id:int}"

@using BlazorCrud.Model.Modelos
@using BlazerCRUD.UI.Interfaces

@inject IPeliculasService service
@inject NavigationManager nav

<h3>Peliculas Detalles</h3>

<EditForm Model="@pelicula">
    <table class="table">
        <tr>
            <td>Nombre:</td>
            <td><input type="text" class="form-control" @bind="pelicula.Nombre" /></td>
        </tr>

        <tr>
            <td>Director:</td>
            <td><input type="text" class="form-control" @bind="pelicula.Director" /></td>
        </tr>

        <tr>
            <td>Fecha Extreno:</td>
            <td><input type="date" class="form-control" @bind="pelicula.FechaExtreno" /></td>
        </tr>

        <tr>
            <td colspan="2" style="text-align:center">
                @if (@id == 0)
                {
                   <input type="button" value="Guardar" class="btn btn-primary" @onclick="Saved"/>
                   <input type="button" value="Cancelar" class="btn btn-secondary" @onclick="Cancel"/>

                }
                else 
                {
                   <input type="button" value="Editar" class="btn btn-primary" @onclick="Saved"/>
                   <input type="button" value="Cancelar" class="btn btn-secondary" @onclick="Cancel"/>
                
                }
            </td>
        </tr>
    </table>

</EditForm>

@code {
    [Parameter]
    public int id { get; set; }
    Peliculas pelicula = new Peliculas();


    protected async Task Saved()
    {
        await service.Agregar(pelicula);

        nav.NavigateTo("/ListaPeliculas");
    }
    private void Cancel()
    {
        nav.NavigateTo("/ListaPeliculas");
    }

    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            pelicula = await service.Obtener(id);
        }
    }

}
